/*** Slides ***/
#cyclone-slides-metabox .inside{
    margin:20px;
    padding:0;
}
.cycloneslider-sortable{
    margin-bottom:20px;
}
.cycloneslider-box{
    margin-bottom:10px;
}
/*** Slides - Title ***/
.cycloneslider-box-title{
	cursor:move;
    background-color: #f1f1f1; /* Fallback */
	background-image: -ms-linear-gradient(top, #f9f9f9, #ececec); /* IE10 */
	background-image: -moz-linear-gradient(top, #f9f9f9, #ececec); /* Firefox */
	background-image: -o-linear-gradient(top, #f9f9f9, #ececec); /* Opera */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#ececec)); /* old Webkit */
	background-image: -webkit-linear-gradient(top, #f9f9f9, #ececec); /* new Webkit */
	background-image: linear-gradient(top, #f9f9f9, #ececec); /* proposed W3C Markup */
}
.cycloneslider-box-title{
    padding:5px;
    border:1px solid #D3D3D3;
}
.cycloneslider-box-title-left{
    float:left;
}
.cycloneslider-box-title-right{
    float:right;
}

.cycloneslider-box-title .cycloneslider-box-drag,
.cycloneslider-box-title .cycloneslider-box-toggle,
.cycloneslider-box-title .cycloneslider-box-delete{
    margin:0 5px;
    display:block;
    float:left;
    text-indent:-99999px;
    width:15px;
    height:15px;
}
.cycloneslider-box-title .cycloneslider-box-drag{
	display:none;
	cursor:move;
    color:#285C00;
    background: url(../images/ui-icons.png) no-repeat 0 0;
}
.cycloneslider-box-title .cycloneslider-box-toggle{
	cursor:pointer;
    color:#21759B;
    background: url(../images/ui-icons.png) no-repeat -15px 0;
}
.cycloneslider-box-title .cycloneslider-box-delete{
	cursor:pointer;
    color:#ff9191;
    background: url(../images/ui-icons.png) no-repeat -30px 0;
}
.cycloneslider-box-title:hover .cycloneslider-box-toggle,
.cycloneslider-box-title .cycloneslider-box-toggle:hover{
    background-position:-15px -15px;
    color:#fff;
}
.cycloneslider-box-title .cycloneslider-box-delete:hover{
    background-color:#ff9191;
    color:#fff;
}

/*** Slides Body ***/
.cycloneslider-box-body{
    background:#F5F5F5;
    min-height:1px; /* IE7 - on open disappearing content - bug fix */
    padding:10px 10px 20px 10px;
    border-left:1px solid #D3D3D3;
    border-right:1px solid #D3D3D3;
    border-bottom:1px solid #D3D3D3;
    display:none;
}
input[name=cycloneslider_add_slide]{
    margin-bottom:15px;
}
.cycloneslider-box-placeholder{
    padding:5px;
    height:20px;
    border:1px dashed #ccc;
    margin-bottom:10px;
}
.cycloneslider-body-left{
    float:left;
    width:45%;
	margin-right:5%;
}
.cycloneslider-body-right{
    float:left;
    width:50%;
	min-width:400px;
}
.cycloneslider-slide-thumb{
    display:block;
    max-width:90%;
    margin-bottom:10px;
    border:3px solid #ccc;
}
.cycloneslider-slide-path{
    display:block;
    width:100%;
    margin-bottom:10px;
}

/* accordion */
.cycloneslider-accordion{
    font-size:12px;
    padding:0 20px;
    
}
.cycloneslider-accordion .ui-accordion-header{
    padding:5px 8px 5px 8px;
    margin-bottom:1px;
    
}
.cycloneslider-accordion .ui-accordion-header.ui-state-active{
    border-bottom:0;
    margin-bottom:0;
    background:#F5F5F5;
}
.cycloneslider-accordion .ui-accordion-content{
    padding:0px 20px 20px 20px;
    margin-bottom:1px;
    background:#F5F5F5;
}
.cycloneslider-accordion .ui-accordion-content-active{
    border-top:0;
}


/* box template */
.cycloneslider-box-template{
    display:none;
}

/*** Slide Properties ***/
.cycloneslider-sub-title{
    font-weight:bold;
    font-size:12px;
    margin-bottom:10px;
    text-transform:capitalize;
}
.cycloneslider-slide-metas{
    border-bottom:1px solid #D3D3D3;
}
.cycloneslider-field-title.first{
    -webkit-border-radius: 3px 3px 0px 0px;
    border-radius: 3px 3px 0px 0px;
}
.cycloneslider-title-checkbox{
    background:none;
    padding:0;
    float:left;
}
.cycloneslider-field-title{
    border-left:1px solid #D3D3D3;
    border-right:1px solid #D3D3D3;
    border-top:1px solid #D3D3D3;
    padding:3px 7px;
    font-weight:bold;
    color:#666666;
    background-color: #f1f1f1;
    cursor:pointer;
}
.cycloneslider-field-body{
    border-top:1px solid #D3D3D3;
    border-left:1px solid #D3D3D3;
    border-right:1px solid #D3D3D3;
    padding:20px;
    background:#f9f9f9;
   
}
.cycloneslider-field-body label{
    display:block;
    margin-bottom:3px;
}
.cycloneslider-field-body textarea{
    overflow:auto;
}
.cycloneslider-field-body input.cycloneslider-slide-meta-link{
    margin-bottom:10px;
}
.cycloneslider-slide-meta-speed,
.cycloneslider-slide-meta-timeout,
.cycloneslider-slide-meta-tile-count,
.cycloneslider-slide-meta-tile-delay{
	width:25%;
}
.cycloneslider-meta-field .note.disabled,
label.disabled,
input:disabled{
	color:#999;
}



#cyclone-slider-properties-metabox .inside{
    padding:0;
}
.cycloneslider-field{
    padding:15px 10px 20px 10px;
    border-bottom:1px solid #DFDFDF;
}
.cycloneslider-field.last{
    padding-bottom:10px;
    border-bottom:0;
}
.cycloneslider-field label{
    display:block;
    font-weight:bold;
    margin-bottom:5px;
}
.cycloneslider-field .note,
.cycloneslider-meta-field .note{
    font-weight:normal;
    font-size:11px;
    font-style:italic;
    color:#666666;
}
.cycloneslider-field input[type="text"],
.cycloneslider-field select{
    display:block;
    min-width:50%;
    margin-bottom:3px;
}

.cycloneslider-fresh-slide{
    border:1px solid yellow;
}

/*** Nextgen ***/
#cyclone-nextgen-metabox .inside{
	padding:0;
}
.cycloneslider-field label.inline{
	display:inline-block;
	margin:0 0 0 3px;
}
#cyclone-nextgen-metabox select{
	display:inline-block;
	margin:0 0 0 3px;
}


/*** Templates ***/
.template-choices{
	margin:0;
}
.template-choices li{
	position:relative;
	float:left;
	width:200px;
	margin-right:10px;
	margin-bottom:10px;
	border:3px solid #cfcfcf;
	-moz-border-radius:3px; /* Firefox */
	-webkit-border-radius:3px; /* Safari and chrome */
	-khtml-border-radius:3px; /* Linux browsers */
	border-radius:3px; /* CSS3 */
}
.template-choices li:hover,
.template-choices li.active{
	border-color:#21759B;
	background-color:#21759B;
	color:#fff;
}
.template-choices li label,
.template-choices li img{
	display:block;
}
.template-choices li img{
	max-width:100%;
}
.template-choices li label{
	height:125px;
}
.template-choices li .title{
	display:block;
	padding:3px 10px;
}
.template-choices li input{
	position:absolute;
	z-index:-1;
}
.template-choices li.active .check{
	display:block;
}
.template-choices .check{
	display:none;
	position:absolute;
	width:15px;
	height:15px;
	z-index:90;
	right:0;
	top:0;
	border:3px solid #21759B ;
	background:#21759B url(../images/uploader-icons.png) no-repeat -21px 0;
	-webkit-border-radius: 0px 0px 0px 5px;
    border-radius: 0px 0px 0px 5px;
}
.template-scroller{
	overflow:auto;
	margin-bottom:5px;
	height:350px;
}

.cycloneslider-field-tile-properties,
.cycloneslider-slide-tile-properties{
	display:none;
}
.cycloneslider-spacer-10{
	height:10px;
}
.cycloneslider-spacer-15{
	height:15px;
}
.cycloneslider_metas_enable_slide_effects{
	float:right;
}

/*** Hide admin stuff ***/
.inline-edit-date,
.inline-edit-group{
	display:none;
}

.cycloneslider-get-more{
	padding-top:5px;
	float:right;
}